body {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}
.titre {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
.paragraphe {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
  text-align: center;
}
.bouton {
  background-color: #fec913;
  border-radius: 12px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border: none;
  height: 50px;
}
body {
  background-image: url("../images/bg.png");
  background-size: cover;
}
.nav-item {
  text-align: center;
}
#navbar {
  display: flex;
  flex-direction: row;
}
#navbar .navbar-brand {
  font-size: 1.5rem;
  font-family: 'Poppins';
  font-weight: bold;
  line-height: 3.216;
  text-align: left;
  justify-content: space-between;
}
#navbar .teacher {
  color: #fec913;
}
#navbar .navbar-nav {
  font-size: 1.063rem;
  font-family: 'Poppins';
  color: #2d2c2c;
  text-transform: uppercase;
  line-height: 4.729;
  text-align: left;
}
.boy {
  max-width: 100%;
  max-height: 100%;
}
#second {
  display: flex;
  flex-direction: row;
}
#second h2 {
  font-size: 2.7rem;
  font-family: 'Poppins';
  line-height: 0.994;
  text-align: left;
}
#second h1 {
  color: #fec913;
  font-size: 3.3rem;
  font-family: 'Poppins';
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.98;
  text-align: left;
}
#second a {
  background-color: #fec913;
  border-radius: 12px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border: none;
  height: 50px;
}
#second p {
  font-size: 1rem;
  font-family: 'Poppins';
  line-height: 1.5;
  text-align: left;
}
@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 0.5rem;
  }
  .boy {
    display: none;
  }
  #second {
    margin-top: 40px;
  }
  #second h2 {
    font-size: 1.5rem;
  }
  #second h1 {
    font-size: 3rem ;
  }
  #section_one h2 {
    font-size: 2.5rem;
  }
  #section_one p {
    font-size: 1rem;
  }
  #section_one .kids {
    width: 300px ;
    height: 200px ;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .boy {
    width: 400px;
    height: 280px;
  }
  #second {
    margin-top: 20px;
  }
  #second h2 {
    font-size: 2rem ;
  }
  #second h1 {
    font-size: 4rem ;
  }
  #section_one h2 {
    font-size: 2.5rem;
  }
  #section_one p {
    font-size: 1rem;
  }
  #section_one .kids {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .boy {
    width: 400px;
    height: 280px;
  }
  .kids {
    width: 650px;
    height: 320px;
  }
}
#section_one h2 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
#section_one p {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
  text-align: center;
}
#section_one a {
  background-color: #fec913;
  border-radius: 12px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border: none;
  height: 50px;
}
#section_two h2 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
#section_two p {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
  text-align: center;
}
#section_two h3 {
  font-size: 25px;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.136;
  text-align: center;
}
#section_two a {
  background-color: #fec913;
  border-radius: 12px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border: none;
  height: 50px;
}
.cards {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}
#section_three h2 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
#section_three p {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
  text-align: center;
}
#section_four h3 {
  font-size: 2rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 1;
}
#section_four h2 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
#section_four .textcenter {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
  text-align: center;
}
.custom-card {
  transition: all ease 0.5s;
  padding: 10px;
  border-radius: 10px;
  background: white;
  transform: scale(1.1);
  box-shadow: -1px 3px 10px 0px;
}
.custom-card p {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
}
.feed {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1rem;
}
#section_five h2 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
#section_five p {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
  text-align: center;
}
#section_five a {
  background-color: #fec913;
  border-radius: 12px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border: none;
  height: 45px;
}
#section_five .form-control {
  border: 0;
  box-shadow: none;
  background-color: #dedee0;
}
#section_five input::placeholder {
  font-size: 17px;
  font-family: 'Poppins';
  color: #fdfdfe;
  line-height: 1.788;
}
#section_five textarea::placeholder {
  font-size: 17px;
  font-family: 'Poppins';
  color: #fdfdfe;
  line-height: 1.788;
  top: 20px;
}
#map {
  height: 400px;
}
.apply {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}
#section_six {
  position: relative;
}
#section_six #jaune {
  background-color: #fec913;
  border: none;
  border-radius: 12px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  height: 50px;
}
#section_six h3 {
  font-size: 20px;
  font-family: 'Poppins';
  color: #fefeff;
  line-height: 2.68;
}
.cadre {
  background-color: #082465;
  color: white;
  text-align: justify;
  border-radius: 0px 30px 30px 0px;
  width: auto;
}
.kid {
  height: 100%;
}
#footer h2 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #082465;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
#footer .para {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #48494a;
  line-height: 1.671;
  text-align: center;
}
#footer h3 {
  font-size: 2.5rem;
  font-family: 'Poppins';
  color: #fec913;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
}
#footer .footer {
  background-color: #082465;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-family: 'Poppins';
  line-height: 1.671;
  text-align: center;
  height: 50px;
}
.arrow {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: #082465;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_four {
  position: relative;
}
#section_four::before {
  content: "";
  position: absolute;
  right: 0;
  background: url(../images/Ellipse2.png);
  height: 100%;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
#section_five {
  position: relative;
}
#section_five::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
  background: url(../images/Ellipse3.png);
  height: 250px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 576px) {
  .scrol {
    height: 200px;
    overflow-y: scroll;
  }
}
